.tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 9999;
    white-space: nowrap;
}

@keyframes borderAnimation {
    0% {
        border-color: transparent;
    }
    50% {
        border-color: rgb(240, 3, 50);
    }
    100% {
        border-color: transparent;
    }
}

.__ph__pattern-detected {
    border: 4.5px solid transparent; /* Fixed border width */
    animation: borderAnimation 1.5s infinite; /* Adjust animation duration as needed */
}


.__ph__current-pattern {
    z-index: 10000 !important;
    box-shadow: 0 0 120px 150px rgb(251, 58, 10) !important;
    animation: __ph__highlight 5s;
    opacity: 0;
}

@keyframes __ph__highlight {
    from {
        opacity: 0.75;
    }

    to {
        opacity: 0;
    }
}
