.__ph__pattern-detected {
    /** background-color: red !important; **/
    border: 3px solid rgb(19, 11, 246) !important;
}

.__ph__current-pattern {
    z-index: 10000 !important;
    box-shadow: 0 0 120px 150px rgb(251, 58, 10) !important;
    animation: __ph__highlight 5s;
    opacity: 0;
}

@keyframes __ph__highlight {
    from {
        opacity: 0.75;
    }

    to {
        opacity: 0;
    }
}
